body{
	background: linear-gradient(to bottom, #ede9e9, #a5d6a7);
    justify-content: center;
    text-align: center;
    height: 100vh;
    flex: auto;
}div{
    padding: 5px;
    text-align: center;
    justify-content: center;
}
.Playerholder{
    display: flex;
    gap: 25px;
    overflow: auto;
    width: 500px;
    margin: auto;
}
.Player{
    float: left;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    background-color: rgb(178, 178, 252);
    border: 1px solid black;
}
img{
    width: 75px;
    height: 75px;
}
.Hidden{
    display: none;
}
.Selected{
    cursor: not-allowed;
    background-color: rgb(237, 88, 88);
    pointer-events: none;
}
/* Alexander's CSS */
/* Styles for the boxes/icons */
.banners{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;

}

/* .topBox{
    width: 800px;
    height: 120px;
    background-color: rgb(204, 236, 203);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.topBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(135deg,#2e7d32,#66bb6a);
    padding: 25px 20px;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


/* .topBox h2{
    margin: 0;
} */

.topBox h2{
    margin-top: 5px;
    font-size: 38px;
    letter-spacing: 2px;
    color: white;
    text-shadow: 2px 2px 0 #1b5e20,
    4px 4px 8px rgba(0, 0, 0, 0.4); 

}

.activePlayerText{
    width: 250px;
    height: 150px;
        background: linear-gradient(145deg,#e8f5e9,#c8e6c9);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 20px 20px 240px;
    
}

.halfMoon{
    position: absolute;
    left: -100px;
    width: 300px;
    height: 300px;
    background: green;
    border-radius: 50%;
    z-index: 0;
}

.avatar{
    position: absolute;
    left: 30px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
    /* border: 4px solid white; */
}

/* Styles for the boxes/icons */
.boxIcon{
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}
.textBox{
    background-color: rgb(204, 236, 203);
    border: 3px solid #1b5e20;
    border-radius: 10px;
    width: 220px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Hover effect */
.textBox:hover{
    transform: translate(-8px) scale(1.05);
    box-shadow: 6px 6px 15px rgba(0,0,0,0.3);
}

/* styles for the three boxes */
.infoBoxes{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}


.playerShotText{
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    line-height: 1.2;
    z-index: 2;
    margin: 0;
}

/* Styles the button above the Scorecard */
#shotReady{
    display: block;
    font-weight: bold;
    color: white;
    margin: 15px auto;
    padding: 10px 20px;
    width: 90%;
    max-width: 800px;
    background: #2e7d32;
    border-radius: 15px;
    box-shadow: none;
    border: none;
    transition: all 0.25s ease;
}

#shotReady:hover{
    background-color: #1b5e20;
}

#showScorecard{
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    background-color: #2e7d32;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 90%;
    max-width: 800px;
}

#showScorecard:hover{
    background-color: #1b5e20;
}

#scoreCard h2{
    margin-top: 25px;
    text-align: center;
    color:#1b5e20;
    margin-bottom: 15px;
}

#scoreCard table{
    width: 100%;
    border-collapse: collapse;
}

#scoreCard th,
#scoreCard td{
    border: 1px solid #1b5e20;
    padding: 8px 12px;
    text-align: center;
}

#scoreCard th{
    background-color: #2e7d32;
    color: white;
}


#overlay{
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
}

#overlay.show{
    opacity: 1;
    pointer-events: all;
}

.overlayPanel{
    position: fixed;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px;
    height: 70%;
    background-color: rgb(204, 236, 203);
    border-radius: 20px 20px 0 0;
    padding: 20px;
    
    z-index: 1001;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
    transition: bottom 0.4s ease;
    overflow: auto;
}

.overlayPanel.show{
    bottom: 0;   
}


.closeOverlay{
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    font-size: 22px;
    font-weight: bold;
    color: #1b5e20;
    cursor: pointer;
}

.closeOverlay:hover{
    transform: scale(1.2);
}