body{
   /*background-color: #ede9e9;*/
    background: linear-gradient(to bottom, #ede9e9, #a5d6a7);
    justify-content: center;
    text-align: center;
    flex: auto;
    padding: 300px;
    margin-bottom: auto;
}
/* .Logo{
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
} */

h1{
    font-size: 30px;
    margin-bottom: 10px;
    color: green;
}

h2{
    font-size: 16px;
    margin-bottom: 20px;
    color: rgb(1, 75, 1);
}

/* Add styles to the GID error */
#GIDErr{
    color: red;
    font-size: 17px;       
}

/* Styles for the submit btn */
input[type="submit"]{
    border-radius: 15px;
    border: none;
    background-color: #1b5e20;
    color: white;
    text-shadow: 2px 2px 0 #163718,
			4px 4px 8px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    font-size: 20px;
    
}

input[type="text"]{
    border-radius: 12px;
    border: 1px solid #8fe18c;
    text-align: center;

}
